<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <ul class="error-messages">
          <li *ngFor="let u of errors?.username">Username {{ u }}</li>
          <li *ngFor="let e of errors?.email">Email {{ e }}</li>
          <li *ngFor="let p of errors?.password">Password {{ p }}</li>
        </ul>
        
        <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input formControlName="image"
                class="form-control"
                type="text"
                placeholder="URL of profile picture"
              />
            </fieldset>
            <fieldset class="form-group">
              <input formControlName="username"
                class="form-control form-control-lg"
                type="text"
                placeholder="Your Name"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea formControlName="bio"
                class="form-control form-control-lg"
                rows="8"
                placeholder="Short bio about you"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input formControlName="email"
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input formControlName="password"
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
              />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">
              Update Settings
            </button>
          </fieldset>
        </form>
        <hr>
        <button class="btn btn-outline-danger" (click)="logout()">
          Or click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>
