<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img
            src="{{ dataService.profile?.profile.image }}"
            class="user-img"
          />
          <h4>{{ dataService.profile?.profile.username }}</h4>
          <p>
            {{ dataService.profile?.profile.bio }}
          </p>
          <button
            (click)="follow()"
            class="btn btn-sm btn-outline-secondary action-btn"
            *ngIf="
              dataService.profile?.profile.username !=
                dataService.dataUser?.user.username &&
              !dataService.profile?.profile.following
            "
          >
            <i class="ion-plus-round"></i>
            &nbsp; Follow {{ dataService.profile?.profile.username }}
          </button>
          <button
            (click)="unfollow()"
            class="btn btn-sm btn-outline-secondary action-btn"
            *ngIf="
              dataService.profile?.profile.username !=
                dataService.dataUser?.user.username &&
              dataService.profile?.profile.following
            "
          >
            <i class="ion-plus-round"></i>
            &nbsp; Unfollow {{ dataService.profile?.profile.username }}
          </button>
          <a
            class="btn btn-sm btn-outline-secondary action-btn"
            *ngIf="
              dataService.profile?.profile.username ==
              dataService.dataUser?.user.username
            "
            routerLink="/setting"
            routerLinkActive="router-link-active"
          >
            <i class="ion-gear-a"></i> Edit Profile Settings
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                [ngClass]="['nav-link', dataService.boo ? 'active' : '']"
                (click)="changeMy()"
                routerLink="/home/{{ dataService.profile?.profile.username }}"
                routerLinkActive="router-link-active"
              >
                My Articles</a
              >
            </li>
            <li class="nav-item">
              <a
                [ngClass]="['nav-link', dataService.boo ? '' : 'active']"
                (click)="changeFav()"
                routerLink="favorite"
                routerLinkActive="router-link-active"
              >
                Favorited Articles</a
              >
            </li>
          </ul>
        </div>
        <!-- <div *ngIf="!dataService.boo">
          
        </div> -->
        <router-outlet></router-outlet>
        <div *ngIf="dataService.boo">
          <div
            *ngFor="let d of dataService.listArticle?.articles"
            class="article-preview"
          >
            <div class="article-meta">
              <a
                routerLink="/home/{{ d?.author.username }}"
                routerLinkActive="router-link-active"
                ><img src="{{ d?.author.image }}"
              /></a>
              <div class="info">
                <a
                  routerLink="/home/{{ d?.author.username }}"
                  routerLinkActive="router-link-active"
                  class="author"
                  >{{ d?.author.username }}</a
                >
                <span class="date">{{ d?.createdAt }}</span>
              </div>
              <button
                (click)="changeFavCount(d)"
                class="btn btn-sm pull-xs-right"
                [ngClass]="{
                  'btn-outline-primary': !d?.favorited,
                  'btn-primary': d?.favorited
                }"
              >
                <i class="ion-heart"></i> {{ d?.favoritesCount }}
              </button>
            </div>
            <a routerLink="/home/article/{{ d?.slug }}" class="preview-link">
              <h1>{{ d?.title }}</h1>
              <p>{{ d?.description }}</p>
              <span>Read more...</span>
              <ul class="tag-list">
                <li
                  *ngFor="let t of d.tagList"
                  class="tag-default tag-pill tag-outline"
                >
                  {{ t }}
                </li>
              </ul>
            </a>
          </div>
          <div
            class="article-preview"
            *ngIf="!(dataService.listArticle?.articles)[0]"
          >
            No articles are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
