<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages">
          <li *ngFor="let u of errors?.title">title {{ u }}</li>
          <li *ngFor="let e of errors?.body">body {{ e }}</li>
          <li *ngFor="let p of errors?.description">description {{ p }}</li>
        </ul>
        <form [formGroup]="createArticleform">
          <fieldset>
            <fieldset class="form-group">
              <input
                formControlName="title"
                type="text"
                class="form-control form-control-lg"
                placeholder="Article Title"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="description"
                type="text"
                class="form-control"
                placeholder="What's this article about?"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                formControlName="body"
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="tagList"
                (keyup.enter)="addTags(tagInput)"
                type="text"
                class="form-control"
                placeholder="Enter tags"
                #tagInput
              />
              <div class="tag-list">
                <span
                  class="tag-default tag-pill"
                  *ngFor="let t of tagForm; let i = index"
                >
                  <i class="ion-close-round" (click)="deleteTag(i)"></i>
                  {{ t }}
                </span>
              </div>
            </fieldset>
            <button
              class="btn btn-lg pull-xs-right btn-primary"
              type="button"
              (click)="onSubmit()"
            >
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<p>{{a}}</p>